body {
    margin: 0;
  }
  .container {
    padding: 0 10px;
    max-width: 600px;
    margin: 30px auto;
  }
  
  .container p {
    display: flex;
    align-items: center;
  }
  
  .input {
    display: inline-block;
    width: 200px;
    min-height: 20px;
    padding: 4px;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 4px;
  }
  
  
  
  @keyframes twinkle {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    51% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .input.focus::after {
    content: '|';
    animation: twinkle 1s linear infinite;
  }
  
  .keyboard {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    font-family: Arial;
    transition: all .3s;
  }
  
  .keyboard.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  
  .page {
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }
  
  .page-lowercase {
    display: block;
  }
  
  
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col-1 {
    width: 5%;
  }
  
  .col-2 {
    width: 10%;
  }
  
  .col-3 {
    width: 15%;
  }
  
  .col-4 {
    width: 20%;
  }
  
  .col-12 {
    width: 60%;
  }
  
  
  .keyboard .row>span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 4px;
    background: #383533;
    margin: 5px;
    box-shadow: -2px 0 4px -2px #9B9B9B;
    cursor: pointer;
    user-select:none;
  }
  
  .keyboard .row>span.active {
    background: #E5E5E5;
    color: #383533;
  }
  
  
  